<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>列表页面</title>
    <!-- layui.css -->
    <link href="http://jarvis.hexintong.top/plugin/layui/css/layui.css" rel="stylesheet" />
    <link href="http://jarvis.hexintong.top/css/list.css" rel="stylesheet" />
</head>
<body>
    <fieldset id="dataConsole" class="layui-elem-field layui-field-title"  style="display:none;">
        <legend>控制台</legend>
        <div class="layui-field-box">
            <div id="articleIndexTop">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item" style="margin:0;margin-top:15px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">种族</label>
                            <div class="layui-input-inline">
                                <select name="race" class="race">
                                    <option value=""></option>
                                    
                                </select>
                            </div>

                            <label class="layui-form-label">职业</label>
                            <div class="layui-input-inline">
                                <select name="profession" class="profession">
                                    <option value=""></option>
                                
                                </select>
                            </div>

                            <label class="layui-form-label">关键词</label>
                            <div class="layui-input-inline">
                                <input type="text" name="keywords" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline" style="width:auto">
                                <button class="layui-btn" lay-submit lay-filter="formSearch">搜索</button>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width:auto">
                                <a id="addArticle" class="layui-btn layui-btn-normal">发表文章</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </fieldset>
    <fieldset id="dataList" class="layui-elem-field layui-field-title sys-list-field" style="display:none;">
        <legend style="text-align:center;">文章列表</legend>
        <div class="layui-field-box">
            <div id="dataContent" class="">
                <!--内容区域 ajax获取-->
                <table style="" class="layui-table" lay-even="">
                    <colgroup>
                        <col width="180">
                        <col>
                        <col width="150">
                        <col width="180">
                        <col width="90">
                        <col width="90">
                        <col width="50">
                        <col width="50">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>发表时间</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>类别</th>
                            <th colspan="2">选项</th>
                            <th colspan="2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2017-03-22 23:07</td>
                            <td>不落阁后台模板源码分享</td>
                            <td>Absolutely</td>
                            <td>Web前端</td>
                            <td>
                                <form class="layui-form" action="">
                                    <div class="layui-form-item" style="margin:0;">
                                        <input type="checkbox" name="top" title="置顶" lay-filter="top" checked>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form class="layui-form" action="">
                                    <div class="layui-form-item" style="margin:0;">
                                        <input type="checkbox" name="top" title="推荐" lay-filter="recommend" checked>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <button class="layui-btn layui-btn-small layui-btn-normal"><i class="layui-icon">&#xe642;</i></button>
                            </td>
                            <td>
                                <button class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#xe640;</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="pageNav"></div>
            </div>
        </div>
    </fieldset>
    <!-- layui.js -->
    <script src="http://jarvis.hexintong.top/plugin/layui/layui.js"></script>
    <!-- layui规范化用法 -->
    <script type="text/javascript">
        layui.config({
            base: 'http://jarvis.hexintong.top/js/'
        }).use('datalist');
    </script>
</body>
<script>
layui.use(['form', 'layer', 'jquery'], function () {
    var $ = layui.jquery;
    var form = layui.form,
    layer = layui.layer;
    var inter = "http://www.hexintong.top/"
    $.ajax({
        'url': inter + "race",
        'dataType': 'json',
        'type': 'get',
        'success': function (res) {
            console.log(res)
        }
    })
}
</script>
</html>